# Task

In [2]:
import pandas as pd

df = pd.read_csv("new_data.csv")

print(df)

    id     name          city       contact                       stream  \
0    1  Kynthia       Knivsta  468 395 8086           Analyst Programmer
1    2   Waiter      Zhangtan  684 701 7306            Chemical Engineer
2    3  Branden         Daluo  910 772 1668       Senior Cost Accountant
3    4  Camella      Kudymkar  470 338 3404               Tax Accountant
4    5  Merrili        Russas  517 671 4838             Dental Hygienist
5    6    Haley     Borovichi  673 828 1741         Sales Representative
6    7  Eolanda  Galleh Manda  746 228 1049             Internal Auditor
7    8      Tam         Pijao  984 183 8257                VP Accounting
8    9    Biron         Eséka  620 946 9394              Media Manager I
9   10  Alexine           Ube  374 972 2953  Mechanical Systems Engineer
10  11    Dedie     Charlotte  704 957 3647                    Paralegal
11  12  Margery     Inanwatan  955 218 6870          Associate Professor
12  13  Matthew     Negreiros  790 481 6351       Administrative Officer
13  14   Andree       Cần Giờ  580 197 9146           Research Associate
14  15    Garey       Zhoukou  857 217 1390                Senior Editor

    mark1  mark2  mark3  mark4
0      43     25     62     65
1      24     74     17     31
2      81     12     40     59
3      15     87     52     87
4       9      8      7     46
5      79     64     88     21
6      43     45     24     38
7      73      2     94     86
8      97     96     53     77
9      95     49     49     32
10     21     46     55     81
11     12     82     74     41
12     47     91     31     44
13     79     47     24     43
14      3     54     49     40
   id     name          city       contact                  stream  mark1  \
0   1  Kynthia       Knivsta  468 395 8086      Analyst Programmer     43
1   2   Waiter      Zhangtan  684 701 7306       Chemical Engineer     24
2   3  Branden         Daluo  910 772 1668  Senior Cost Accountant     81
3   4  Camella      Kudymkar  470 338 3404          Tax Accountant     15
4   5  Merrili        Russas  517 671 4838        Dental Hygienist      9
5   6    Haley     Borovichi  673 828 1741    Sales Representative     79
6   7  Eolanda  Galleh Manda  746 228 1049        Internal Auditor     43

   mark2  mark3  mark4
0     25     62     65
1     74     17     31
2     12     40     59
3     87     52     87
4      8      7     46
5     64     88     21
6     45     24     38

In [3]:
# print first 7 records.
print(df.head(7))

   id     name          city       contact                  stream  mark1  \
0   1  Kynthia       Knivsta  468 395 8086      Analyst Programmer     43
1   2   Waiter      Zhangtan  684 701 7306       Chemical Engineer     24
2   3  Branden         Daluo  910 772 1668  Senior Cost Accountant     81
3   4  Camella      Kudymkar  470 338 3404          Tax Accountant     15
4   5  Merrili        Russas  517 671 4838        Dental Hygienist      9
5   6    Haley     Borovichi  673 828 1741    Sales Representative     79
6   7  Eolanda  Galleh Manda  746 228 1049        Internal Auditor     43

   mark2  mark3  mark4
0     25     62     65
1     74     17     31
2     12     40     59
3     87     52     87
4      8      7     46
5     64     88     21
6     45     24     38

In [4]:
# Print column name
print(df.columns)

Index(['id', 'name', 'city', 'contact', 'stream', 'mark1', 'mark2', 'mark3',
       'mark4'],
      dtype='object')

In [5]:
# print the statestical information of datafreame
print(df.describe())

              id      mark1      mark2      mark3      mark4
count  15.000000  15.000000  15.000000  15.000000  15.000000
mean    8.000000  48.066667  52.133333  47.933333  52.733333
std     4.472136  33.309086  30.586801  25.109664  21.548837
min     1.000000   3.000000   2.000000   7.000000  21.000000
25%     4.500000  18.000000  35.000000  27.500000  39.000000
50%     8.000000  43.000000  49.000000  49.000000  44.000000
75%    11.500000  79.000000  78.000000  58.500000  71.000000
max    15.000000  97.000000  96.000000  94.000000  87.000000

In [7]:
# print all the records of datafreame in alphabetical oredrs.
sort_value = df.sort_values(by="name")
print(sort_value)

    id     name          city       contact                       stream  \
9   10  Alexine           Ube  374 972 2953  Mechanical Systems Engineer
13  14   Andree       Cần Giờ  580 197 9146           Research Associate
8    9    Biron         Eséka  620 946 9394              Media Manager I
2    3  Branden         Daluo  910 772 1668       Senior Cost Accountant
3    4  Camella      Kudymkar  470 338 3404               Tax Accountant
10  11    Dedie     Charlotte  704 957 3647                    Paralegal
6    7  Eolanda  Galleh Manda  746 228 1049             Internal Auditor
14  15    Garey       Zhoukou  857 217 1390                Senior Editor
5    6    Haley     Borovichi  673 828 1741         Sales Representative
0    1  Kynthia       Knivsta  468 395 8086           Analyst Programmer
11  12  Margery     Inanwatan  955 218 6870          Associate Professor
12  13  Matthew     Negreiros  790 481 6351       Administrative Officer
4    5  Merrili        Russas  517 671 4838             Dental Hygienist
7    8      Tam         Pijao  984 183 8257                VP Accounting
1    2   Waiter      Zhangtan  684 701 7306            Chemical Engineer

    mark1  mark2  mark3  mark4
9      95     49     49     32
13     79     47     24     43
8      97     96     53     77
2      81     12     40     59
3      15     87     52     87
10     21     46     55     81
6      43     45     24     38
14      3     54     49     40
5      79     64     88     21
0      43     25     62     65
11     12     82     74     41
12     47     91     31     44
4       9      8      7     46
7      73      2     94     86
1      24     74     17     31

In [16]:
# print all records of df in way that the students having higest marks diaplay the first.
df['total'] = df['mark1'] + df['mark2'] + df['mark3'] + df['mark4']

first_mark = df.sort_values(by='total', ascending=False)

print(first_mark)

NameError: name 'false' is not defined